-is_current = (current_page?(static_page) or current_page?(polymorphic_path(static_page, :format => :pdf)))
-cache static_page.cache_key + (is_current ? '-c' : '') do
	%article[static_page]{:class => [if current_page? static_page then 'hentry' end, if static_page.name=='cv' then 'hresume' end, if static_page.draft? then 'draft' end].join(' ')}
		-title = link_to_unless(is_current, static_page.title, static_page, :rel => 'bookmark')
		%header
			-if is_current
				%h1.entry-title= title
			-else
				%h2.entry-title= title
		.entry-content= render :partial => 'common/body', :format => 'html', :object => static_page.body
