-is_current = current_page? static_page
-cache static_page.cache_key + (is_current ? '-c' : '') do
	%article[static_page]{:class => ((current_page? static_page) ? '' : 'hentry') + (static_page.name=='cv' ? ' hresume' : '')}
		-title = link_to_unless_current(static_page.title, static_page, :rel => 'bookmark')
		%header
			-if is_current
				%h1= title
			-else
				%h2.entry-title= title
		.entry-content= render :partial => 'common/body', :format => 'html', :object => static_page.body
