[submodule "vendor/plugins/authlogic_openid"]
	path = vendor/plugins/authlogic_openid
	url = git://github.com/mreinsch/authlogic_openid.git
[submodule "vendor/plugins/open_id_authentication"]
	path = vendor/plugins/open_id_authentication
	url = git://github.com/dominiquebrezinski/open_id_authentication.git
[submodule "vendor/plugins/authlogic_facebook_connect"]
	path = vendor/plugins/authlogic_facebook_connect
	url = git://github.com/agibralter/authlogic_facebook_connect.git
[submodule "vendor/plugins/authlogic_oauth"]
	path = vendor/plugins/authlogic_oauth
	url = git://github.com/logankoester/authlogic_oauth.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/chrisboyle/exception_notification.git
[submodule "vendor/plugins/declarative_authorization"]
	path = vendor/plugins/declarative_authorization
	url = git://github.com/stffn/declarative_authorization.git
[submodule "vendor/plugins/acts_as_taggable_on"]
	path = vendor/plugins/acts_as_taggable_on
	url = git://github.com/mbleigh/acts-as-taggable-on.git
[submodule "vendor/plugins/acts_as_nested_set"]
	path = vendor/plugins/acts_as_nested_set
	url = git://github.com/collectiveidea/awesome_nested_set.git
[submodule "vendor/plugins/ssl_requirement"]
	path = vendor/plugins/ssl_requirement
	url = git://github.com/chewi/ssl_requirement.git
[submodule "vendor/plugins/auto_sprite"]
	path = vendor/plugins/auto_sprite
	url = git://github.com/chrisboyle/auto_sprite.git
[submodule "vendor/plugins/rails_xss"]
	path = vendor/plugins/rails_xss
	url = git://github.com/rails/rails_xss.git
