db/*.sqlite3
doc/api
doc/app
log
tmp
public/stylesheets/main.css
Capfile
config/deploy.rb
config/database.yml
config/facebooker.yml
config/google_analytics.yml
config/twitter.yml
config/initializers/session_store.rb
.*.swp
public/images/auto_sprite.png
public/javascripts/all.js
public/stylesheets/auto_sprite.css
public/stylesheets/all.css
public/download
public/system
REVISION
