-div_for comment do
	.meta
		#{ident_html(comment.identity)}
		=render :partial => 'pages/times', :format => 'html', :object => comment
		.clear
	.body
		=simple_format h(comment.body).gsub('  ',' &nbsp;')
	-can_edit = permitted_to? :edit, comment
	-can_del = permitted_to? :destroy, comment
	-if can_edit or can_del
		.controls
			-if can_edit
				=link_to 'Edit', edit_comment_path(comment)
			-if can_del
				=link_to 'Destroy', comment, :method => :delete, :confirm => "Are you sure?"

