-context ||= params[:context]
%div[comment]{:class => [('deleted' if comment.deleted), ('disapproved' unless comment.approved)].join(' ')}
	-if comment.deleted and not has_role? :admin
		.body.placeholder
			deleted comment
	-else
		-cache comment do
			.meta
				.right
					&nbsp;
					=render :partial => 'common/times', :format => 'html', :object => comment
				.left= render comment.identity
				.endmeta
			.body
				=simple_format h(comment.body).gsub('  ',' &nbsp;')
		-acts = [:reply,:edit,:delete,:approve,:trust,:disapprove]
		-confirms = { :delete => 'Really delete this?', :trust => 'Really approve all current and future posts from this user?' }
		-allowed = acts.select {|act| (act == :reply) ? (comment.approved and not context and not comment.deleted) : (permitted_to? act, comment) }
		-if allowed.any? or context
			.controls
				-allowed.collect do |act|
					-button_to_act act, comment, :context => context, :confirm => confirms[act]
				-if context
					=link_to 'Context', url_for(comment.post)+'#'+dom_id(comment)
