-is_edit = @comment.id
-is_reply = @comment.parent and not is_edit
%div{:id => is_edit ? dom_id(@comment) : is_reply ? "reply_to_#{dom_id(@comment.parent)}" : "new_comment"}
	-remote_form_for [@page, @comment], :html => {:id => nil} do |f|
		=f.hidden_field :parent_id if is_reply
		=hidden_field_tag :context, params[:context] if params[:context]
		=hidden_field_tag :_commit
		-if not is_edit
			-if not is_reply
				%h3 Add a comment
			-if @comment.approved
				.notice Your comment will be public immediately.
			-else
				.notice Your comment will not be public until it has been approved.
		=f.error_messages :message => nil
		.comment
			.meta
				-if is_edit
					=render @comment.identity
				-else
					=ident_select(f, current_user.identities)
			.body<
				~f.text_area :body, :cols => nil, :rows => 10
			.controls
				=f.submit is_edit ? 'Save' : @comment.approved ? 'Send' : 'Send to moderator', :onclick => 'this.form._commit.value="Save"'
				-if is_edit or is_reply
					=f.submit 'Cancel', :onclick => 'this.form._commit.value="Cancel"'
				%span.fieldnote (HTML and other markup will not work)
		-if current_user.email.blank?
			=link_to 'Set up email notifications', {:controller => :users, :action => :show, :id => 'current'}
