-is_edit = @comment && @comment.id
-is_reply = @comment && @comment.parent
%div{:id => is_edit ? dom_id(@comment) : is_reply ? "reply_to_#{dom_id(@comment.parent)}" : "add_comment"}
	-remote_form_for [@page, @comment || Comment.new], :html => {:id => nil} do |f|
		-if @comment and @comment.parent_id
			=f.hidden_field :parent_id
		-if params[:show_context]
			=hidden_field_tag :show_context, true
		=hidden_field_tag :_commit
		-if not is_edit and not is_reply
			%h3 Add a comment
		=f.error_messages :message => nil
		.comment
			.meta
				-if is_edit
					=render @comment.identity
				-else
					=ident_select(f, current_user.identities)
			.body<
				~f.text_area :body, :cols => nil, :rows => 10
			.controls
				=f.submit is_edit ? 'Save' : 'Send', :onclick => 'this.form._commit.value="Save"'
				-if is_edit or is_reply
					=f.submit 'Cancel', :onclick => 'this.form._commit.value="Cancel"'
				%span.fieldnote (HTML and other markup will not work)
