html, body
	height: 100%
	padding: 0
	margin: 0

body
	font:
		family: sans-serif
	color: #000000
	background: #ffffff
	margin: 0px
	height: 100%

#page
	background: #bbeeff
	border:
		width: 0px 1px 0px 1px
		style: solid
		color: #0077bb
	min-height: 100%
	margin: 0 auto 0
	padding: 0 1em 0
	max-width: 900px

* html #page
	height: 100%

pre
	font-size: 130%
	line-height: 110%
	overflow: auto

.clear
	clear: both

h1, h2, h3, h4, h5
	margin: 0

.hentry
	margin: 1em 0 1em

.rootbanner
	background: url(/images/illustshort.png) no-repeat 0% 50%
	padding: 1em 0 1em 100px
	min-height: 90px
	vertical-align: middle

.notice
	color: #00ff00

.tagline
	margin-bottom: 0.5em
