html, body
	height: 100%
	padding: 0
	margin: 0

body
	font:
		family: sans-serif
	color: #000000
	background: #ffffff
	margin: 0px
	height: 100%

#page
	background: #bbeeff
	border:
		width: 0px 1px 0px 1px
		style: solid
		color: #0077bb
	min-height: 100%
	margin: 0 auto 0
	padding: 0 1em 0
	max-width: 900px
	min-width: 28em

* html #page
	height: 100%

p
	margin: 0 0 1em 0

pre
	font-size: 130%
	white-space: pre-wrap

.clear
	clear: both

h1, h2, h3, h4, h5
	margin: 0

#tree
	float: left
	width: 10em
	ul
		padding-left: 0
		list-style-type: none
		ul
			padding-left: 1em

#identblock
	float: right

#content
	min-width: 14em
	margin-left: 11em

.hentry
	clear: right
	margin: 1em 0 1em

.entry-content
	margin: 0.5em 0 1em

#rootbanner
	clear: right
	background: url(/images/illustshort.png) no-repeat 0% 0.4em
	padding-left: 100px
	margin-bottom: 1em
	min-height: 90px
	vertical-align: middle
	h1
		white-space: nowrap
	address
		display: inline
		font-style: normal
		abbr
			text-decoration: none

.tagline
	margin-bottom: 0.5em
	font-style: italic

.times
	color: #444444
	font-size: 80%

.notice
	background: #88ff88
	border: 1px solid #00ff00

.error
	background: #ff8888
	border: 1px solid #ff0000

.notice, .error
	clear: right

.CodeRay .code
	pre
		margin: 0
	.no
		color: #888888
	margin: 1em 0 1em
	padding: 0.3em
	background: #ffffff
	border: 1px solid #0077bb
