=titleh1 'All users'

%table
	%tr
		%td
		%th Identities
		%th Email

	-@users.each do |user|
		%tr
			%td= link_to user.id, user
			%td= render :partial => user.identities, :locals => {:multi=>true}
			%td= h user.email
