.hentry[page]
	%h2.entry-title= link_to_unless_current(page.title, page, :rel => 'bookmark')
	-if page.is_a? Post
		=render :partial => 'times', :format => 'html', :object => page
	=render :partial => 'body', :format => 'html', :object => page.body
