-t = @page.class.name.underscore.titleize
=titleh1 (@page.id ? "Editing #{t}" : "New #{t}")

-form_for @page do |f|
	=f.error_messages

	.field
		=f.select :type, %w(Post StaticPage) unless @page.id
		=f.text_field :name

	.field
		=f.label :title
		=f.text_field :title
	.field
		.label
			=f.label :body
		~f.text_area :body, :onkeydown => 'checkTab(this,event)'
	.submit= f.submit(@page.id ? 'Update' : 'Create')
