%h1
	=@page.id ? "Editing page" : "New page"

-form_for @page do |f|
	=f.error_messages

	%p
		-parents = Page.all(:conditions => ["id != ?", @page.id]).map { |p| [p.id, "#{page_path(p)} (#{p.title})"] }
		=f.collection_select :parent_id, parents, :first, :last, :prompt => "No parent"
		=f.text_field :name

	%p
		=f.label :title
		%br/
		=f.text_field :title
	%p
		=f.label :body
		%br/
		~f.text_area :body
	%p= f.submit(@page.id ? 'Update' : 'Create')

=link_to 'Show', @page if @page.id
=link_to 'Back', pages_path
