-t = @page.class.name.underscore.titleize
=titleh1 (@page.id ? "Editing #{t}" : "New #{t}")

-form_for @page do |f|
	=f.error_messages

	%p
		=f.select :type, %w(Post StaticPage) unless @page.id
		=f.text_field :name

	.field
		=f.label :title
		=f.text_field :title
	.field
		.label
			=f.label :body
		~f.text_area :body, :onkeydown => 'checkTab(this,event)'
	%p= f.submit(@page.id ? 'Update' : 'Create')

=link_to 'Show', @page if @page.id
=link_to 'Back', root_path
