-title(@page.title)
=render @page

.controls
	-if permitted_to? :edit, @page
		=link_to 'Edit', edit_page_path(@page)
		|
	-if permitted_to? :destroy, @page
		=link_to 'Destroy', @page, :method => :delete, :confirm => "Are you sure?"

-if @page.is_a? Post
	#comments
		=render @page.comments.find(:all, :conditions => (has_role? :admin) ? nil : {:deleted => false})

	%hr/
	-c = Comment.new
	-c.page = @page
	-c.identity = current_user.identity if current_user
	-if permitted_to? :create, c
		=render 'comments/edit'

	-elsif not current_user
		#add_comment
			%h3 Add a comment using&hellip;
			=render :partial => 'user_sessions/new'

	-else
		#add_comment
			.placeholder You can't add a comment on this post.
