-title(@page.title)
=render @page

.controls
	-if permitted_to? :edit, @page
		=link_to 'Edit', edit_page_path(@page)
		|
	-if permitted_to? :destroy, @page
		=link_to 'Destroy', @page, :method => :delete, :confirm => "Are you sure?"

-if @page.is_a? Post
	#comments
		=render :partial => 'comments/comment_and_replies', :collection => @page.comments.roots(:order => :created_at).select {|c| c.is_visible_to? current_user}

	%hr/
	-@comment = @page.comment_from(current_user)
	-if permitted_to? :create, @comment
		=render 'comments/edit'

	-elsif not current_user
		#add_comment
			%h3 Add a comment using&hellip;
			=render :partial => 'user_sessions/new'

	-else
		#add_comment
			.placeholder You can't add a comment on this post.
