-title(@page.title)
=render :partial => @page

.controls
	-if permitted_to? :edit, @page
		=link_to 'Edit', edit_page_path(@page)
		|
	-if permitted_to? :destroy, @page
		=link_to 'Destroy', @page, :method => :delete, :confirm => "Are you sure?"

-if @page.is_a? Post
	#comments
		=render :partial => @page.comments.find(:all, :conditions => (has_role? :admin) ? nil : {:deleted => false})

	#addcomment
		-c = Comment.new
		-c.page = @page
		-c.identity = current_user.identity if current_user
		-if permitted_to? :create, c
			=render :partial => 'comments/edit'

		-elsif not current_user
			-# TODO just do the login form right here
			=link_to 'Add a comment', new_post_comment_path

		-else
			%hr/
			.placeholder You can't add a comment on this post.
