=titleh1 (@project.id ? "Editing project" : "New project")

-form_for @project do |f|
	=f.error_messages

	.field
		=f.label :name
		=f.text_field :name
	.field
		=f.label :title
		=f.text_field :title
	.field
		=f.label :version
		=f.text_field :version
	.field
		=f.label :vcs, 'VCS URL'
		=f.text_field :vcs
	.field
		=f.label :android_market_id
		=f.text_field :android_market_id
	.field
		=f.label :filename_start
		=f.text_field :filename_start
	.field
		=f.label :tag_list
		=f.text_field :tag_list
	.field
		-picker_opts = {:order=>[:year,:month], :include_blank=>true, :use_month_numbers=>true}
		Timescale #{f.date_select :start, picker_opts} - #{f.date_select :end, picker_opts} (#{f.select :status, Project::STATUSES})
	.field
		.label
			=f.label :summary
		~f.text_area :summary, :rows => 5, :onkeydown => 'checkTab(this,event)'
	.field
		.label
			=f.label :body
		~f.text_area :body, :onkeydown => 'checkTab(this,event)'

	.submit= f.submit(@project.id ? 'Update' : 'Create')
