=titleh1 'Projects'
-description "List of #{AUTHOR_NAME}'s free software projects"

-if @projects.empty?
	.placeholder No projects yet
-else
	=render @projects

-if permitted_to? :create, :projects
	.controls= button_to 'New project', new_project_path, :method => :get
