-title(@project.title)
=render @project
.controls
	-if permitted_to? :edit, @project
		=button_to 'Edit', edit_project_path(@project), :method => :get
	-if permitted_to? :destroy, @project
		=button_to 'Delete', @project, :method => :delete, :confirm => "Really delete this project?"
