=titleh1 "Tag: #{@tag.name}"
.feedlink= link_to raw("#{image_tag 'sprites/feed.png'} Feed of posts with this tag"), acts_as_taggable_on_tag_feed_url(@tag, :secure=>false)

=render @projects

=render @posts
