-icon, text = *identity.icon_and_text
-imgpath = "/images/sprites/user_#{icon}.png"
-plain ||= false
-no_link, no_profile = (plain or not identity.url), (plain or not identity.profile_url)
%span.userhtml<
	=succeed link_to_unless no_link, text, identity.url, {:rel => 'nofollow'} do
		-if FileTest.exists?("#{RAILS_ROOT}/public#{imgpath}")
			=link_to_unless no_profile, image_tag(imgpath), identity.profile_url, {:rel => 'nofollow'}
