A comment on "#{@comment.page.title}" requires moderation at #{EMAIL_SITE_NAME}:
=""
-it = @comment.identity.icon_and_text
\[#{raw it[0]}] #{raw it[1]} wrote:
!=@comment.body.gsub(/^/,'> ')
=""
!=@link
