%p{:style=>'font-size:80%'}
	-u = post_url(feedfooter, :secure => false, :host => request.host)
	Comments preferred at #{link_to u, u} using OpenID/Facebook/Twitter (comments elsewhere are unlikely to reach me).
