%h1
	=@post.id ? "Editing post" : "New post"

-form_for @post do |f|
	=f.error_messages

	%p
		=f.label :title
		%br/
		=f.text_field :title
	%p
		=f.label :body
		%br/
		~f.text_area :body
	%p= f.submit(@post.id ? 'Update' : 'Create')

=link_to 'Show', @post if @post.id
=link_to 'Back', posts_path
