.hfeed
	-if params[:is_root]
		=render 'common/rootbanner'
	-elsif params[:year]
		=titleh1("Posts in #{Time.local(params[:year],params[:month]).strftime(params[:month] ? '%B %Y' : '%Y')}")
	-else
		%h1 Listing posts

	.entries
		-if @posts.empty?
			.placeholder
				-if params[:year]
					No matching posts
				-else
					No posts yet
		-else
			=render @posts

	-if permitted_to? :create, Post.new
		=button_to 'New post', new_post_path, :method => :get
