#identblock
	-if current_user
		=render :partial => current_user.identity, :locals => { :plain => true }
		|
		=link_to 'Account', {:controller => :users, :action => :show, :id => 'current'}
		|
		=button_to 'Sign out', {:controller => :user_sessions, :action => :destroy}, :method => :delete
	-else
		=link_to 'Sign in', :controller => :user_sessions, :action => :new
