=titleh1 "Sign in"
=init_fb_connect "XFBML"
.loginbuttons
	-[ |
		['AOL','https://www.aol.com/'], |
		['Blogger','http://username.blogspot.com/'], |
		['Dreamwidth','http://username.dreamwidth.org/'], |
		['Facebook',nil], |
		['Flickr','http://flickr.com/example/'], |
		['Google','https://www.google.com/accounts/o8/id'], |
		['Insanejournal','http://username.insanejournal.com/'], |
		['Livejournal','http://username.livejournal.com/'], |
		['Wordpress','http://username.wordpress.com/'], |
		['Twitter',nil], |
		['Yahoo','https://www.yahoo.com/'], |
		].each do |p| |
		-if p[0]=='Facebook'
			%button#fbbtn{:onclick=>login_button_action(*p), :disabled=>true, :title=>'Facebook requires Javascript'}>= login_button_content(p[0])
			=update_page_tag {|p| p['fbbtn'].title='Loading Javascript from facebook.com...'}
		-else
			%button{:onclick => login_button_action(*p)}>= login_button_content(p[0])
-form_for @user_session do |f|
	=f.error_messages :header_message => "Could not sign in", :message => nil
	.field
		=f.label :openid_identifier, 'OpenID'
		=f.text_field :openid_identifier, :class => 'openid_identifier'
		=f.submit "Sign in", :disable_with => 'Signing in&hellip;'
	.field<
		=f.check_box :remember_me
		=f.label :remember_me
	=hidden_field_tag 'auth_using_fb'
	=hidden_field_tag 'login_with_oauth'
=fb_connect_javascript_tag
=update_page_tag {|p| p['fbbtn'].title=nil; p['fbbtn'].disabled=false }
