.footer
	%footer
		%hr
		Opinions my own unless otherwise stated. &copy; #{AUTHOR_NAME} #{COPYRIGHT_YEARS}, comments &copy; their authors, icons &copy;/&trade; their owners. Trouble? Use the #{link_to 'public bug tracker', BUG_TRACKER} or #{link_to 'contact me', '/contact'}.
