.footer
	%footer
		%hr
		Opinions my own unless otherwise stated. &copy; Chris Boyle 2010, comments &copy; their authors, icons &copy;/&trade; their owners. Trouble with this site? Use the #{link_to 'public bug tracker', 'http://github.com/chrisboyle/cbn/issues'} or #{link_to 'contact me', '/contact'}.
