%header#rootbanner
	.face>= image_tag 'sprites/illustshort.png', :class => 'face'
	.author.vcard
		%h1.fn.n<
			%span.given-name Chris
			%span.family-name Boyle
		.tagline<
			%span.role.title Software engineer
			in
			%span.adr
				=succeed "," do
					%span.locality Cambridge
				%abbr.country-name{:title => "United Kingdom"} UK
	.favicons
		-[ |
		['google','Google profile','https://profiles.google.com/chris.boyle.name'], |
		['twitter','Twitter: c_boyle','http://twitter.com/c_boyle'], |
		['github', 'Github: chrisboyle', 'http://github.com/chrisboyle'], |
		['stackoverflow','Stack Overflow','http://stackoverflow.com/users/6540/chris-boyle'], |
		['serverfault','Server Fault','http://serverfault.com/users/5708/chris-boyle'], |
		['superuser','Super User','http://superuser.com/users/4211/chris-boyle'], |
		['debian','Debian QA stats','http://qa.debian.org/developer.php?login=cmb@debian.org'], |
		['launchpad','Launchpad: cmb','https://launchpad.net/~cmb'], |
		['dreamwidth','Dreamwidth: shortcipher','http://shortcipher.dreamwidth.org/'], |
		['facebook','Facebook: shortcipher','http://www.facebook.com/shortcipher'], |
		['steam','SteamID: kerneloops','http://steamcommunity.com/id/kerneloops'], |
		['diaspora','Diaspora: chrisboyle','https://joindiaspora.com/u/chrisboyle'], |
		['insanejournal','InsaneJournal: shortcipher','http://shortcipher.insanejournal.com/'], |
		['livejournal','LiveJournal: shortcipher','http://shortcipher.livejournal.com/'], |
		['lastfm','Last.fm: shortcipher','http://www.last.fm/user/shortcipher'], |
		['grooveshark','Grooveshark: chrisboyle','http://listen.grooveshark.com/user/chrisboyle/3458294'], |
		['linkedin','LinkedIn: shortcipher','http://www.linkedin.com/in/shortcipher'], |
		['orkut','Orkut profile','http://www.orkut.com/Profile.aspx?uid=5151257037369954632'], |
		['amazon','Amazon profile','http://www.amazon.co.uk/gp/pdp/profile/A14ZX1C5G75VLP?ie=UTF8'], |
		['ebay','eBay: chrisboyle','http://myworld.ebay.com/chrisboyle'], |
		['worldofgoo','World Of Goo profile','http://goofans.com/leaderboard/player/ae06cbe5d4bb4b85ebfbe453ba14dbce'], |
		['maelfroth','Maelfroth: cmb','http://wiki.maelfroth.org/~cmb'], |
		].each do |i,t,u| |
			=link_to image_tag("sprites/fav_#{i}.png"), u, :rel => 'me', :title => t
	.clearleft
	.feedlink= link_to raw("#{image_tag 'sprites/feed.png'} Feed of these posts"), feed_url(:secure=>false)
	-content_for :js do
		:javascript
			Event.observe(window,"load",function() {
				$$(".favicons a").findAll(function(node){
					return node.getAttribute('title');
				}).each(function(node){
					new Tooltip(node,node.title,{min_distance_y:10});
					node.removeAttribute("title");
				});
			});
